body {
  margin: 0;
  overflow-y:auto; /*para poder hacer scroll en la pagina*/
}

#root {  
  margin: 0 auto;
  padding: 0;
  text-align: center;   
  z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app{
  overflow-y: auto;  
  overflow-x: hidden;
  position: relative;
  z-index: -2;
}
.videoBackground {
  position: relative; 
  height: auto;
  width: 100vw;  
  z-index: -3; /*Coloca el video por debajo */   
}

.titleH2 {
  font-size: 2.5rem;
  margin: 2rem;  
  font-weight: bolder; 
  width: 100vw; 
  margin-bottom: 10rem; 
  display: flex;
  justify-content: center; 
}

.titleH2 h2{
  font-size: 2.8rem;  
  color:rgb(7, 7, 7);
  font-weight: bolder; 
  width: 40vw;
}

.form{
  width: 50vw;  
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-top: -9rem;
}


@media (max-width:1120px) {
  .titleH2 h2{
    width: 90vw;
    font-size: 2rem;
  }
  
}

@media (max-width:436px){
  .titleH2 h2{
    width: 95vw;
    font-size: 1.5rem;
  }
}