body {
  margin: 0;
  overflow:auto; /*para poder hacer scroll en la pagina*/
}

#root {  
  margin: 0 auto;
  padding: 0;
  text-align: center;   
  z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;  
  z-index: -1; /*Coloca el video por debajo */  
  opacity: 0.9;    
}

.form{
  width: 60vw;
}
